extends _layoutStyle2
block page_title
  title 瀛社 - 關於我們
block style
  //- link(rel="stylesheet", href="css/index.min.css")
  style.

block script
  //- script(type="text/javascript" src="js/index.min.js")
  script(type="text/javascript" src="js/history.js")
  script(type="text/javascript").
    $('.moreStory').on("click", function() {
    loadMoreStory();
    });
    $(window).on("scroll", function() {
    if ($('.era').length > 0) {
        if ($(window).scrollTop() == $docHeight - $windowHeight) {
            //讀取更多大事記-到底觸發
            var TimeOutID = window.setTimeout(function() {
                loadMoreStory();
                window.clearTimeout(TimeOutID);
            }, 400)
        }
    }
    });
    //讀取更多大事記-到底觸發
    function loadMoreStory() {
    console.log('loadMoreStory!!');
    $loadingScreen.removeClass('opacity0');
    $loadingScreen.removeClass('MoveOut');
    //大事記列表-假資料
    var cataurl = "../data/history.json";


    $.ajax({
        url: cataurl,
        success: function(res) {
            items = res;
            console.log(items);
            updateList();
        },
        error: function() {
            // console.log('載入失敗');
        }
    })

    }

    //更新大事記列表內容
    function updateList() {
    var $node = $('.historyContent.main');
    $('.moreStory').remove();
    items.forEach((item) => {
        var item = `
      <div class="era">
      <div class="year"> 
          <p class="Y">${item.year}</p>
          <p class="M">${item.month}</p>
      </div>    
      <a class="StoryContent" href="${item.code}">
          <div class="littleBall"></div>
          <div class="separateLine"></div>
          <div class="Story">
            <h4>${item.StoryTitle}</h4>
            <p>${item.StoryText}</p>
          </div>
          <div class="Pic">
            <div class="imgContainer" style="background-image:url(${item.pic})"></div>
          </div>
      </a>
      </div>
      `
        var itemEl = $(item)
        $node.append(itemEl);
    })
    $node.append(`
    <a class="moreStory" href="javascript:;">
      <p class="more">更多</p><img src="images/dot.png" alt=""></a>
    `)

    window.setTimeout(function() {
        $loadingScreen.addClass('opacity0');

    }, 800);
    window.setTimeout(function() {
        $loadingScreen.addClass('MoveOut');
        $windowHeight = $(window).height();
        $docHeight = $(document).height();
        var scrollTopBack = $(window).scrollTop() - 800;
        $(window).scrollTop(scrollTopBack);
        $('.moreStory').on("click", function() {
            loadMoreStory();
        });
    }, 1000);

    }

block content
  article.maincontent.History.inside
    .introBanner(style="background-image:url(images/banner-history.png)")
      h1 大事記
      h2 HISTORY
      .track
        img(src="images/home.png", alt="")
        a.home(href="#") 首頁
        a.now 大事記  
    .historyContent.main
      .logo
        i.be-icon.be-icon-webLogo
      .era
        .year 
          p.Y 1909
          p.M Jan
        a.StoryContent(href="history_content.html")
          .littleBall
          .separateLine
          .Story
            h4 瀛社創立
            p 臺灣健康醫院學會成立已經邁入第九年了，歷經過去三任理事長的努力經營已經成為世界衛生組織(WHO)HPH國際最大網絡(臺灣共有160家國際網絡會員)。我們歷年來參加國際研討會的人數及論文篇數都主導整個大會，這樣的成就除了感謝大家的努力外我們並不自滿反而覺得責任更重大。因應未來四年應該有一些改變以進入新的里程碑。 
          .Pic
            .imgContainer(style="background-image:url(images/historyPic.png)")
      .era
        .year 
          p.Y 1909
          p.M Jan
        a.StoryContent(href="history_content.html")
          .littleBall
          .separateLine
          .Story
            h4 瀛社創立
            p 臺灣健康醫院學會成立已經邁入第九年了，歷經過去三任理事長的努力經營已經成為世界衛生組織(WHO)HPH國際最大網絡(臺灣共有160家國際網絡會員)。我們歷年來參加國際研討會的人數及論文篇數都主導整個大會，這樣的成就除了感謝大家的努力外我們並不自滿反而覺得責任更重大。因應未來四年應該有一些改變以進入新的里程碑。 
          .Pic
            .imgContainer(style="background-image:url(images/historyPic2.png)")
      .era
        .year 
          p.Y 1909
          p.M Jan
        a.StoryContent(href="history_content.html")
          .littleBall
          .separateLine
          .Story
            h4 瀛社創立
            p 臺灣健康醫院學會成立已經邁入第九年了，歷經過去三任理事長的努力經營已經成為世界衛生組織(WHO)HPH國際最大網絡(臺灣共有160家國際網絡會員)。我們歷年來參加國際研討會的人數及論文篇數都主導整個大會，這樣的成就除了感謝大家的努力外我們並不自滿反而覺得責任更重大。因應未來四年應該有一些改變以進入新的里程碑。 
          .Pic
            .imgContainer(style="background-image:url(images/historyPic3.png)")            
      .era
        .year 
          p.Y 1909
          p.M Jan
        a.StoryContent(href="history_content.html")
          .littleBall
          .separateLine
          .Story
            h4 瀛社創立
            p 臺灣健康醫院學會成立已經邁入第九年了，歷經過去三任理事長的努力經營已經成為世界衛生組織(WHO)HPH國際最大網絡(臺灣共有160家國際網絡會員)。我們歷年來參加國際研討會的人數及論文篇數都主導整個大會，這樣的成就除了感謝大家的努力外我們並不自滿反而覺得責任更重大。因應未來四年應該有一些改變以進入新的里程碑。 
          .Pic
            .imgContainer(style="background-image:url(images/historyPic4.png)")   
      a(href="javascript:;").moreStory
          p.more 更多
          img(src="images/dot.png", alt="")